@{
    ViewData["Title"] = "Index Page Employee";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<div class="container">
    <h3 class="text-primary ">Employees</h3>
    <hr />

    <table id="Employees" class="table table-striped table-bordered dt-responsive nowrap w-100">
        <thead >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Status</th>
                <th>HireDate</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/employeesDatatable.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}