html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.CustomButtonColor {
    background: rgb(47,46,46);
    background: linear-gradient(113deg, rgba(47,46,46,1) 0%, rgba(54,69,75,1) 66%);
    color:white !important;
}
.CustomCreateButtonColor {
    background: #3C4B64;
    background: linear-gradient(113deg, #3C4B64 0%, black 66%);
    color: white !important;
}
/*Change Style Datatables*/


.dataTables_wrapper div.row:first-of-type {
    display: flex;
}

.dataTables_info {
    color: black !important;
}

.dataTables_paginate li a{
    padding: 6px 9px !important;
    background: #3C4B64;
    background: linear-gradient(113deg, #3C4B64 0%, black 66%);
    color:white !important;
    border-radius: 10%;
    text-decoration: none;
    margin: 3px;
}


.pagination li > :hover {

    background: rgb(51,89,98) !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.dataTables_filter {
    display: flex;
    justify-content: end;
    width: 100%;

}

.dataTables_filter label input {
    background: none !important;
   
    border-radius: 7px;
    border-width:2px;
    border-color:rgba(0,0,0,.5);
    color: black !important;
}

#Index_filter label {
    display: flex;
    
   
}



.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: none !important;
}

.Index_length {
    display: flex;
    width: 50%;
    color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1px;
    justify-content: flex-start;
}

    .Index_length :focus {
        color: black;
    }

.dataTables_length {
    width: 100%;
}

.dataTables_length label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.dataTables_length label select {
    margin: 2px;
    color: black;
}
    

/*_____________________end Style Datatables*/
/*Canang style datepicker*/
.ui-datepicker {
    background: rgb(51,89,98);
    background: linear-gradient(63deg, rgba(51,89,98,1) 0%, rgba(112,122,147,1) 92%);
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 10pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

    .ui-datepicker a {
        text-decoration: none;
        color: black
    }

    .ui-datepicker table {
        width: 100%;
    }

.ui-datepicker-header {
    /*background: url('../img/dark_leather.png') repeat 0 0 #000;*/

    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}